[submodule "twittering-mode"]
	path = lib/twittering-mode
	url = https://github.com/hayamiz/twittering-mode
[submodule "js2-mode"]
	path = lib/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "slime"]
	path = lib/slime
	url = git://github.com/nablaone/slime.git
[submodule "clojure-mode"]
	path = lib/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "android-mode"]
	path = lib/android-mode
	url = git://github.com/remvee/android-mode.git
