[submodule "twittering-mode"]
	path = lib/twittering-mode
	url = https://github.com/hayamiz/twittering-mode
[submodule "js2-mode"]
	path = lib/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "slime"]
	path = lib/slime
	url = git://github.com/nablaone/slime.git
[submodule "android-mode"]
	path = lib/android-mode
	url = git://github.com/remvee/android-mode.git
[submodule "lib/auto-complete"]
	path = lib/auto-complete
	url = http://cx4a.org/repo/auto-complete.git
[submodule "lib/align-cljlet"]
	path = lib/align-cljlet
	url = https://github.com/gstamp/align-cljlet.git
[submodule "lib/durendal"]
	path = lib/durendal
	url = https://github.com/technomancy/durendal.git
[submodule "lib/smex"]
	path = lib/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "lib/undo-tree"]
	path = lib/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "lib/clojure-mode"]
	path = lib/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "lib/deft"]
	path = lib/deft
	url = git://jblevins.org/git/deft.git
[submodule "lib/markdown-mode"]
	path = lib/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "lib/rust-mode"]
	path = lib/rust-mode
	url = https://github.com/marijnh/rust-mode.git
[submodule "lib/ecb"]
	path = lib/ecb
	url = https://github.com/emacsmirror/ecb.git
